<!DOCTYPE html>
<html>
<head>
  <title>MovieTheater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills">
  <li role="presentation"><%= link_to "Movies", root_path %> </li>
  <li role="presentation"><%= link_to "Tickets", tickets_path %> </li>
  <li role="presentation"><%= link_to "Auditoriums", auditoriums_path %> </li>

</ul>
<% if flash %> 
<div class="cointainer-fluid">
  <% flash.each do |key, value| %> 
      <div class="alert alert-<%= key %>">
        <small><%=value %></small>
      </div>
  <% end %> 
</div>
<% end %> 
<%= yield %>

</body>
</html>
